---

---

<header class="py-4 md:py-4 px-6 md:px-36 bg-green text-white">
  <div class="container mx-auto flex justify-between items-baseline py-10">
    <h1 class="text-4xl uppercase font-logo">Trend Page</h1>
    <p class="text-lg font-medium">Read the latest news</p>
  </div>
</header>
