---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 - Page Not Found" keywords='trendpage, trending news, trending, latest news, latest trends' description='Page not Found'>
  <h1>404 - Page Not Found</h1>
</Layout>
