---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import BlogList from '../components/BlogList.astro'
import Heading from '../components/Heading.astro'

const blogs = await getCollection('blogs')

const title = "TrendPage: Today's Trending News"
const description =
  'Read the latest trending topics and useful blogs. Stay informed with easy-to-read content on Trendpage.'
---

<Layout title={title} description={description}>
  <section class="mx-auto max-w-[520px] py-7 px-4 sm:px-6">
    <Heading type="h2" className="font-medium mb-3 md:mb-5 px-4"
      >Trending News</Heading
    >
    <BlogList blogs={blogs} />
  </section>
</Layout>

<style is:global>
  @font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Georgia';
    src: url('/fonts/Georgia.woff') format('woff');
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
  }
</style>
