---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="keywords" content="tajanewz" />
    <meta name="description" content="" />

    <meta name="author" content="tajanewz" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph (OG) Meta Tags -->
    <meta name="og:site_name" content="tajanewz" />
    <meta name="og:title" content={title} />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="https://www.tajanewz.com/logo.png" />
    <meta name="og:url" content="https://www.tajanewz.com" />
    <meta name="og:description" content="" />

    <!-- Twitter Card Meta Tag -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tajanewzofficial" />
    <meta name="twitter:creator" content="@tajanewzofficial" />

    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-title" content="tajanewz" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://www.tajanewz.com/logo.png"
    />
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="sitemap.xml" />
    <link rel="canonical" href="https://www.tajanewz.com/" />
  </head>
  <body>
    <slot />
  </body>
</html>
